.container-response {
    text-align: center;

    ul {
        list-style: none;
        max-width: 300px;
        margin: 0 auto 20px;

        .response-element {
            width: 250px;
            padding: 5px;
            border-radius: 5px;
            text-align: center;
            color: white;
            font-family: sans-serif;
            font-weight: 700;
            margin: 3px 0;
        }
        .ok {
            color: green;
            border: 1px solid green;
        }
        .wrong {
            color: red;
            border: 1px solid red;
        }
    }
}